<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="concertMapper">

<resultMap type="concert" id="concertResultSet">
		<result column="CONCERT_ID" property="concertId"/>
		<result column="CONCERT_NAME" property="concertName"/>
		<result column="AGE_LIMIT" property="ageLimit"/>
		<result column="PRICE" property="price"/>
		<result column="THUMBNAIL_ROOT" property="thumbnailRoot"/>
		<result column="DETAIL_ROOT" property="detailRoot"/>
		<result column="PLAYTIME" property="playTime"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="CATEGORY" property="category"/>
		<result column="HOLE_NAME" property="holeName"/>
	</resultMap>
	
	<!-- 첫 리스트 및 필터링 조회용 쿼리문 -->
	<select id="selectList" parameterType="concert" resultMap="concertResultSet">
    SELECT *
    FROM CONCERT_INFO
    WHERE END_DATE > SYSDATE
    <if test="category != null and category != '전체'">
        AND category = #{category}
    </if>
    <choose>
        <when test="sort == 'popularity'">
            ORDER BY START_DATE DESC
        </when>
        <when test="sort == 'date'">
            ORDER BY START_DATE DESC
        </when>
        <when test="sort == 'price'">
            ORDER BY PRICE ASC
        </when>
        <otherwise>
            ORDER BY CONCERT_ID DESC
        </otherwise>
    </choose>
</select>

<!-- 검색용 쿼리문 -->
<select id="searchList" parameterType="map" resultMap="concertResultSet">
        SELECT *
        FROM CONCERT_INFO
        WHERE CONCERT_NAME LIKE '%' || #{keyword} || '%'
          AND END_DATE > SYSDATE
        <if test="category != null and category != '전체'">
            AND category = #{category}
        </if>
        <choose>
            <when test="sort == 'popularity'">
                ORDER BY START_DATE DESC
            </when>
            <when test="sort == 'date'">
                ORDER BY START_DATE DESC
            </when>
            <when test="sort == 'price'">
                ORDER BY PRICE ASC
            </when>
            <otherwise>
                ORDER BY CONCERT_ID DESC
            </otherwise>
        </choose>
    </select>
    
    <!-- 상세조회용 쿼리문 -->
    <select id="concertDetail" parameterType="int" resultMap="concertResultSet">
	    SELECT *
        FROM CONCERT_INFO
        WHERE CONCERT_ID = #{concertId}
    </select>
</mapper>