<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">

	<!--
	 QNA 테이블의 조회 결과를 QNA VO 객체로 옮겨주는 ResultMap 
	 -->

	 <resultMap type="qna" id="qnaResultSet">
	 	<result column="QNA_ID" property="qnaId"/>
	 	<result column="USER_ID" property="userId"/>
	 	<result column="QNA_TITLE" property="qnaTitle"/>
	 	<result column="QNA_CONTENT" property="qnaContent"/>
	 	<result column="CREATE_DATE" property="createDate"/>
	 	<result column="QNA_ANSWER" property="qnaAnswer"/>
	 	<result column="ANSWER_DATE" property="answerDate"/>
	 	<result column="STATUS" property="status"/>
	 	<result column="CONCERT_ID" property="concertId"/>
	 </resultMap>
	 
	 <!-- 게시글 갯수 -->
	 <select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM QNA
		 WHERE STATUS = '1'
	</select>	
	</mapper>
	 